{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management Application</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/superadmin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/update_task.css' %}">
    <link rel="stylesheet" href="{% static 'css/approval_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_admin_User.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">

    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
</head>

<body>

    {% block main-content %}
    {% endblock main-content %}

</body>

</html>